include   ../head.pug



h1 MovieApp 
form(method='GET' action='/login')
    button(type='submit') Login
form(method='GET' action='/signup')
    button(type='submit') SignUp
img(src="../img/astronauta.jpg", alt="")