doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    title Login

    include ../head.pug
  body(id="body-login") 

    header(id="header-login")
      a(href="/signup") Sign up 
    div(id="div-login-form")

      section(id="section-login-form")
        h2(id="h2-login") Login
        form(action="/login", method="post" id="form-login")
          label(for='email') Email
          input(type='text' name='email')
          label(for='pass') Password
          input(type='password' name='pass')
          a(href="/recoverPassword") Forgot the password?
          button#login LOGIN

        div(class="google-btn-div")
          img(src="https://img.icons8.com/color/48/000000/google-logo.png", alt="google", class="google-logo")
          button#google Login with Google