include ../head.pug

button#signup Sign Up
h1 MovieApp
section
  form(action='')
    label(for='email') Email
    input(type='text' name='email')
    label(for='pass') Contrase&ntilde;a
    input(type='text' name='pass')
    button#forgotPass &iquest;Has olvidado tu contrase&ntilde;a?
    button#login Log in
  button#google Google