include ../head.pug


h2 Forgot the password?
p Write your email and you will receive a link to reset the password.
form(action="", method="post") 
    label(for="email")
    input(type="text", name="email") 
    button(type="submit") Send me the link