include ../head.pug

h2 ¿Has olvidado tu contraseña?
p Escribe tu email para el proceso de verificación, enviaremos un link para que puedas restablecerla.
form(action="", method="post") 
    label(for="email")
    input(type="text", name="email") 