include ../head.pug

a(href="/login") Login 
    
h1 MovieApp
section
  form(action="/signup", method="post") 
    label(for="name") Name 
    input(type="text" name="name")
    label(for="surname") Surname 
    input(type="text" name="surname")
    label(for='email') Email
    input(type='text' name='email')
    label(for='pass') Password
    input(type='password' name='pass')
    label(for='pass2') Repeat password
    input(type='password' name='pass2')
    button#signUpRegister Sign Up