include ../head.pug

a(href="/login") Login 
    
h1 MovieApp
section
  form(action="/signup", method="post") 
    label(for="name") Nombre 
    input(type="text" name="name")
    label(for="surname") Apellido 
    input(type="text" name="surname")
    label(for='email') email
    input(type='text' name='email')
    label(for='pass') contrase&ntilde;a
    input(type='password' name='pass')
    label(for='pass2') Repite la contrase&ntilde;a
    input(type='password' name='pass2')
    button#signUpRegister Sign Up