include   ../head.pug
body 
    h2(class="h2-login-signup") Bienvenid@
    p Te has logueado con éxito, haz click para ir a la web:
    a(href="/dashboard") MovieApp 
    img(src="../../img/astronauta.svg", alt="astronauta", id="astornauta-recoverpass")