include ../head.pug

body(id="body-recoverpass")
    div(class="div-form")
        section(class="section-login-signup-form")
            div(id="div-google-welcome")
                h2(class="h2-login-signup") Welcome #{name}
                img(src="../../img/astronauta.svg", alt="astronauta", id="astronauta-icon")
            p You have been succesfully logged into Google!
            img(src=img, alt="google picture", id="img-google")
            
            div(class="div-gotodashboard")
                a(href="/dashboard") GO TO DASHBOARD 
