include ../head.pug
    h2 Crear una película
    form(action="post") 
        label(for="title") Titulo
        input(type="text" name="title")
        label(for="director") Director 
        input(type="text" name="director")
        label(for="reparto") Reparto
        input(type="text" name="reparto")
        label(for="sinopsis") Sinopsis
        input(type="text" name="sinopsis")
        label(for="rating") Rating 
        input(type="text" name="rating")
        label(for="duracion") Duración
        input(type="text" name="duracion")
        label(for="genero") Genero
        input(type="text" name="genero")