include ../head.pug

h2 Editar una película
    form(action="/editmovie", method="put")  
        label(for="title") Titulo
        input(type="text" name="title")
        label(for="director") Director 
        input(type="text" name="director")
        label(for="year") Año
        input(type="text" name="year")
        label(for="casting") Reparto
        input(type="text" name="casting")
        label(for="plot") Sinopsis
        input(type="text" name="plot")
        label(for="rating") Rating 
        input(type="text" name="rating")
        label(for="duration") Duración
        input(type="text" name="duration")
        label(for="genre") Genero
        input(type="text" name="genre")
        label(for="image") Cartel
        input(type="text" name="image")
        button(type="submit") Guardar