include ../head.pug

h2 Editar una película
    form(action="/editMovie", method="post") 
        label(for="title") Title
        input(type="text" name="title")
        label(for="director") Director 
        input(type="text" name="director")
        label(for="year") Year
        input(type="text" name="year")
        label(for="casting") Actorlist
        input(type="text" name="casting")
        label(for="plot") Plot
        input(type="text" name="plot")
        label(for="rating") Rating 
        input(type="text" name="rating")
        label(for="duration") Duration
        input(type="text" name="duration")
        label(for="genre") Genre
        input(type="text" name="genre")
        label(for="image") Cover
        input(type="text" name="image")
        button(type="submit") Save