include ../head.pug
h2 Mis peliculas
button Crear una peli
section 
    button#removeMovie Icono basurita
    button#editMovie Icono rueda
    img(src="", alt="")
    h2 Título 
    p Nombre del director