include ./head.pug

button#signup Sign Up
h1 MovieApp
section
  form(action='')
    label(for='') Email
    input(type='text' required='')
    label(for='') Contrase&ntilde;a
    input(type='text' required='')
    button#forgotPass &iquest;Has olvidado tu contrase&ntilde;a?
    button#login Log in
  button#google Google