doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Dashboard
    body 

        include ../head.pug

        header
            nav(class='navbar')
                    a(href="#", class="nav-branding") MovieApp
                    ul(class="nav-menu")
                        li(class="nav-item")
                            a(href="/search", class="nav-link") Search
                        li(class="nav-item")
                            a(href="/movies", class="nav-link") My movies
                        li(class="nav-item")
                            a(href="/logout", class="nav-link") Logout
                    div(class="hamburger")
                            span(class="bar")
                            span(class="bar")
                            span(class="bar")

        a(href="/search") Search a movie

        a(href="/movies") My movies
    script(src="/js/hamburger.js") 