include ../head.pug

body(id="body-dashboard") 
    header
            nav(class='navbar')

                        img(src="../../img/movies.svg", alt="logo" href="/dashboard", class="nav-branding")
                        ul(class="nav-menu")
                            li(class="nav-item")
                                a(href="/search", class="nav-link") Search
                            li(class="nav-item")
                                a(href="/movies", class="nav-link") My movies
                            li(class="nav-item")
                                a(href="/logout", class="nav-link") Logout
                        div(class="hamburger")
                                span(class="bar")
                                span(class="bar")
                                span(class="bar")
    main
        section(id="container-dashboard")
            h3(class="welcome") WELCOME
            h3(class="welcome") TO
            div(id="div-astronauta-dashboard")
                img(src="../img/astronauta.movies.svg", alt="astronauta con palomitas" id="astronautamovies-dashboard")
            section(id="section-buttons-dashboard")
                a(href="/search" type="submit" id="search-submit") SEARCH A MOVIE
                
                a(href="/movies" type="submit" id="mymovies-submit") GO TO MY MOVIES
                
        
script(src="/js/hamburger.js") 