doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title My movies
    body 

        include ../head.pug
        //- Esta vista de qué es 

        header
            nav(class='navbar')
                    img(src="../../img/movies.svg", alt="logo" href="/dashboard", class="nav-branding")
                    ul(class="nav-menu")
                        li(class="nav-item")
                            a(href="/dashboard", class="nav-link") Dashboard
                        li(class="nav-item")
                            a(href="/search", class="nav-link") Search
                        li(class="nav-item")
                            a(href="/logout", class="nav-link") Logout
                    div(class="hamburger")
                            span(class="bar")
                            span(class="bar")
                            span(class="bar")

        section 
            h2 Title 
            h4 Director 
            p Actorlist 
            p Plot 
            p Rating 
            h4 Reviews 

        script(src="/js/hamburger.js") 