doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Busca tu movie 

body(id="body-search")
        header
                nav(class='navbar')
                                img(src="../../img/movies.svg", alt="logo" href="/dashboard", class="nav-branding")
                                ul(class="nav-menu")
                                        li(class="nav-item")
                                                a(href="/dashboard", class="nav-link") Dashboard
                                        li(class="nav-item")
                                                a(href="/movies", class="nav-link") My movies
                                        li(class="nav-item")
                                                a(href="/logout", class="nav-link") Logout
                                div(class="hamburger")
                                        span(class="bar")
                                        span(class="bar")
                                        span(class="bar")
        main
                div(id="div-search")
                        h3 Search a movie! 
                        form(action="/search", method="post", class="searchForm")
                                        div(class="search-div")
                                                input(type="text" name="films" placeholder="Type the title of a movie...")


                                                button(type="submit" id="search-btn")
                                                        img(src="../../img/search.svg", alt="search")

                div(class="lds-roller")
                        div
                        div
                        div
                        div
                        div
                        div
                        div
                        div
                script(src="/js/hamburger.js")
                script(src="/js/spinner.js")

