doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Busca tu movie
    body 

        include  ../head.pug

        section  
            ul
                each film in films
                    div  
                        p Año: #{film.description}
                        p Título: #{film.title}
                        img(src=film.image, alt="Imagen de la película")
                        - var idMovie = film.id;
                        a(href='/movie/' + idMovie + '&'+ film.title) Detalle
                        form(action="/savemovie", method="post") 
                            button(type="submit") Guardar en favoritos