doctype html
html(lang="es")
        head
                meta(charset="UTF-8")
                meta(http-equiv="X-UA-Compatible", content="IE=edge")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                link(rel="stylesheet", href="/css/styles.css")
                title Busca tu movie
        body

                include ../head.pug

                header
                        nav(class='navbar')
                                a(href="#", class="nav-branding") MovieApp
                                ul(class="nav-menu")
                                        li(class="nav-item")
                                                a(href="/dashboard", class="nav-link") Dashboard
                                        li(class="nav-item")
                                                a(href="/movies", class="nav-link") My movies
                                        li(class="nav-item")
                                                a(href="#", class="nav-link") Logout
                                div(class="hamburger")
                                        span(class="bar")
                                        span(class="bar")
                                        span(class="bar")

                h3 ¡Busca una peli! 
                form(action="/search", method="post") 
                        label(for="films") Introduce el título de la película
                        br
                        br
                        input(type="text" name="films" placeholder="Título...")
                        button(type="submit") Buscar
        script(src="/js/hamburger.js") 