include ../head.pug


h3 ¡Busca una peli! 
form(action="/api/search/", method="post") 
        label(for="films") Introduce el título de la película
        br
        br
        input(type="text" name="films" placeholder="Título...")