include  ../head.pug

    body 
        header
            nav(class='navbar')
                            img(src="../../img/movies.svg", alt="logo" href="/dashboard", class="nav-branding")
                            ul(class="nav-menu")
                                    li(class="nav-item")
                                            a(href="/dashboard", class="nav-link") Dashboard
                                    li(class="nav-item")
                                            a(href="/search", class="nav-link") Search
                                    li(class="nav-item")
                                            a(href="/movies", class="nav-link") My movies
                                    li(class="nav-item")
                                            a(href="/logout", class="nav-link") Logout
                            div(class="hamburger")
                                    span(class="bar")
                                    span(class="bar")
                                    span(class="bar")

        section  
            
                each film in films
                    div  
                        p Year: #{film.description}
                        p Title: #{film.title}
                        img(src=film.image, alt="Imagen de la película")
                        - let idMovie = film.id;
                        a(href='/movie/' + idMovie + '&'+ film.title, class="toDetails") Details
                        div(class="lds-roller")
                            div
                            div
                            div
                            div
                            div
                            div
                            div
                            div                       
                        button(class="btn_fav" value = idMovie) Add to favourites
        script(src="/js/favMovie.js")
        script(src="/js/hamburger.js")
        script(src="/js/spinner.js")